form .well {
  margin: 10px;
}

#configuration .well {
  background-color: #aaaaaa;
}

.alpha-button {
  font-weight: bold;
  color: white !important;
  margin-right: 0px;
}

.alpha-modal {
  color: red;
}

/* http://cssdeck.com/labs/custom-radiobutton-and-checkbox-with-fontawesome-full-style-solution */
input[type="radio"] { display: none; }
input[type="radio"] + label .fa-check-square { display: none; }
input[type="radio"]:checked + label .fa-check-square { display: block; }
input[type="radio"]:checked + label .fa-square-o { display: none; }
