<div class='tab-pane' id='embed'>
  <h2>Embed this configuration</h2>
  <div class='input-group'>
    <input class='form-control' type='text' id='url' readonly>
    <span class='input-group-btn'>
      <button class='btn btn-default' type='button' data-clipboard-target='#url'>
        <i class='fa fa-clipboard' alt='Copy to clipboard' title='Copy to clipboard'></i>
      </button>
    </span>
  </div>
</div>
