<?xml version="1.0"?>
<svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
 <defs>
  <svg viewBox="-3.333 -1.428 396.667 170" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg_1">
   <path d="m313.75,-0.157v52.027998c-4.046997,-11.202 -10.369995,-21.064999 -18.872009,-29.209999c-7.653992,-7.332999 -16.829987,-13.023 -27.276001,-16.910999c-10.621979,-3.955 -22.333984,-5.959 -34.805984,-5.959l-72.167007,-0.011v52.260001c-4.218994,-10.570999 -10.569,-20.282001 -18.860001,-28.573002c-16.054001,-16.054999 -37.395996,-24.894999 -60.102997,-24.894999c-22.702999,0 -44.047001,8.841 -60.103001,24.896c-16.055,16.054998 -24.896,37.4 -24.896,60.102999c0,22.705002 8.841,44.051003 24.896,60.104004c16.056,16.054993 37.400002,24.895996 60.104,24.895996c22.706001,0 44.049004,-8.841003 60.103996,-24.895996c8.291,-8.290009 14.641006,-17.999001 18.860001,-28.571007v52.138008l72.167007,-0.012009c12.472,0 24.182983,-2.006989 34.807007,-5.960999c10.445984,-3.888992 19.621002,-9.578003 27.273987,-16.908997c8.502014,-8.145004 14.825012,-18.008003 18.873016,-29.209v52.151993h79.582977v-167.459994h-79.584991l0,0z" fill="#<%= @primary %>"/>
  </svg>
 </defs>
 <g>
  <title>Layer 1</title>
  <use x="0" y="0" transform="matrix(0.979684, 0, 0, 0.979684, 0.576322, -58.7026)" id="svg_2" xlink:href="#svg_1"/>
 </g>
</svg>
