<?xml version="1.0"?>
<svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
 <defs>
  <svg viewBox="0 0 1190.6 841.9" y="0px" x="0px" id="svg_1" xmlns:xlink="http://www.w3.org/1999/xlink">
   <metadata/>
   <switch>
    <foreignObject height="1" width="1" y="0" x="0"/>
    <g>
     <g>
      <polygon points="570.3,406.1 565.5,426.1 575.1,426.1 570.5,406.1    " fill="#<%= @primary %>"/>
      <path d="m538.099976,405.5h-5.5v13.200012h5.200012c4.200012,0 6.5,-2.5 6.5,-6.600006c0,-4.300018 -1.799988,-6.600006 -6.200012,-6.600006z" fill="#<%= @primary %>"/>
      <path d="m681.700012,405.5h-5.5v13.200012h5.200012c4.200012,0 6.5,-2.5 6.5,-6.600006c-0.100037,-4.300018 -1.900024,-6.600006 -6.200012,-6.600006z" fill="#<%= @primary %>"/>
      <path d="m714,337.200012v52c-4,-11.200012 -10.400024,-21.100006 -18.900024,-29.200012c-7.699951,-7.299988 -16.799988,-13 -27.299988,-16.899994c-10.599976,-4 -22.299988,-6 -34.799988,-6l-72.200012,0v52.299988c-4.200012,-10.600006 -10.599976,-20.299988 -18.899963,-28.600006c-16.100037,-16.099976 -37.400024,-24.899994 -60.100037,-24.899994c-22.699982,0 -44,8.800018 -60.099976,24.899994c-16.100006,16.100006 -24.900024,37.400024 -24.900024,60.100006c0,22.700012 8.800018,44 24.900024,60.100006c16.099976,16.100006 37.399994,24.899994 60.099976,24.899994c22.700012,0 44,-8.799988 60.100037,-24.899994c8.299988,-8.299988 14.599976,-18 18.899963,-28.600006v52.100006l72.200012,0c12.5,0 24.200012,-2 34.799988,-6c10.400024,-3.899994 19.600037,-9.600006 27.299988,-16.899994c8.5,-8.100006 14.800049,-18 18.900024,-29.200012v52.200012h79.599976v-167.399994h-79.599976l0,0zm-193.799988,68.899994h-9.5v35.199982h-6.5v-35.199982h-9.700012v-5.5h25.700012v5.5l0,0zm25,35.199982c-0.600037,-0.699982 -0.900024,-2 -1.100037,-3.599976c-0.099976,-1.200012 -0.199951,-2.5 -0.199951,-3.600006c0,-1.200012 -0.100037,-2.600006 -0.100037,-4c-0.200012,-4.399994 -1.5,-6.399994 -5.899963,-6.399994h-5.300049v17.699982h-6.5v-40.699982h14.400024c5.700012,0 10.299988,2.899994 10.299988,10.5c0,5.199982 -2.299988,9.299988 -6.799988,10v0.099976c4.099976,0.400024 6.200012,2.600006 6.400024,8.300018c0.099976,2.699982 0.099976,5.799988 0.199951,8.299988c0.200012,2 1.100037,2.899994 1.900024,3.5h-7.299988l0,-0.100006zm33.5,0l-2.5,-10h-11.900024l-2.599976,10h-6.799988l11.599976,-40.699982h8.299988l10.700012,40.699982h-6.799988l0,0zm18.099976,0h-6.5v-40.699982h6.5v40.699982l0,0zm34.799988,0h-7.899963l-11.799988,-31.099976h-0.100037v31.099976h-6.200012v-40.699982h7.900024l11.799988,30.299988h0.100037v-30.299988h6.199951v40.699982l0,0zm31,0h-22.5v-40.699982h22v5.5h-15.5v11.299988h14.600037v5.5h-14.600037v13h16v5.399994l0,0zm26.100037,0c-0.600037,-0.699982 -0.900024,-2 -1.100037,-3.599976c-0.099976,-1.200012 -0.199951,-2.5 -0.199951,-3.600006c0,-1.200012 -0.100037,-2.600006 -0.100037,-4c-0.200012,-4.399994 -1.5,-6.399994 -5.899963,-6.399994h-5.300049v17.699982h-6.5v-40.699982h14.400024c5.700012,0 10.299988,2.899994 10.299988,10.5c0,5.199982 -2.299988,9.299988 -6.799988,10v0.099976c4.099976,0.400024 6.200012,2.600006 6.400024,8.300018c0.099976,2.699982 0.099976,5.799988 0.199951,8.299988c0.200012,2 1.100037,2.899994 1.900024,3.5h-7.299988l0,-0.100006z" fill="#<%= @primary %>"/>
     </g>
    </g>
   </switch>
  </svg>
 </defs>
 <g>
  <title>Layer 1</title>
  <use x="0" y="0" transform="matrix(2.9723196465578687,0,0,2.9723196465578687,-628.4861892585009,-574.5211091997774) " id="svg_2" xlink:href="#svg_1"/>
 </g>
</svg>
